body {
	font-family: Arial;
}

#wrapper {
	max-width: 1000px;
	margin: auto;
}

.col1,
.col2 {
	width: 50%;
	float: left;
}

.contenedor {
	height: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	position: relative;
}

.contenedor iframe,
.contenedor object,
.contenedor embed,
.contenedor video {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.col1,
	.col2 {
		width: auto;
	}
}